@use "@media" as media;

.searchPage {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.salahStats {
  margin-bottom: 2em;

  @include media.mobile {
    margin-bottom: 0;
  }
}

.about {
  margin: 2em auto 0 auto;
  max-width: 600px;
  font-size: 20px;

  @include media.mobile {
    margin-top: 1em;
  }
}

.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 2em;
  margin-bottom: auto;
}

.search {
  margin: 0 auto;
  display: flex;
}

.switchSearch {
  text-decoration: underline;
}