.header {
  padding: 0 1em;
  text-align: center;
  margin-bottom: 1em;

  h1 {
    margin-bottom: 0;
  }
}

.titleLink {
  padding: .25rem;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
  color: var(--dark-text);
  min-width: 400px;
  display: inline-block;
}

.titleLink::after {
  content: "";
  color: var(--light-text);
  position: absolute;
  width: 100%;
  height: 7px;
  bottom: -1px;
  right: 0;
  background-color: var(--dark-text);
  transition: height 0.3s ease;
  cursor: pointer;
}

.titleLink:hover::after {
  height: 100%;
  content: " NeverGetFancy ";
}

.titleLink:hover {
  color: var(--light-text);
}

.subtitle {
  font-size: 1em;
  font-style: italic;
  font-weight: 300;
  margin: 0.25em;
}

h1:hover + .subtitle {
  color: var(--light-text);
}