@use '@media' as media;

.result {
    display: flex;
    margin: auto;
    font-size: 7rem;
    color: #ffffff;
    border-radius: 0.25em;
    padding: 0.25em;

    @include media.mobile {
        font-size: 5em;
    }
}

.positive {
    background-color: var(--positive);
}

.negative {
    background-color: var(--negative);
}

.neutral {
    background-color: var(--neutral);
}
