.link {
  display: flex;
  color: var(--dark-text);
  text-decoration: none;
  border: 1px solid var(--dark-text);
  padding: 0.25rem;
  transition: background 0.3s ease;
  min-height: 100px;

  &:hover {
    color: var(--light-text);
    background-color: var(--dark-text);
  }

  &.first {
    border: 1px solid #d4af37;

    &:hover {
      background-color: #d4af37;
    }
  }

  &.second {
    border: 1px solid #c0c0c0;

    &:hover {
      background-color: #c0c0c0;
    }
  }

  &.third {
    border: 1px solid #cd7f32;

    &:hover {
      background-color: #cd7f32;
    }
  }
}

.participant {
  display: flex;
  padding: 0.25em;
}

.nameContainer {
  display: flex;
  flex-direction: column;
}

.rank {
  margin-right: 10px;
}

.managerName {
  font-size: var(--font-size-medium);
  font-weight: bold;
  text-decoration: underline;
  word-break: break-word;
}

.name {
  font-size: var(--font-size-small);
  font-style: italic;
  word-break: break-word;
}

// HONK
.clown {
  font-style: normal;
}