.link {
  display: flex;
  color: var(--dark-text);
  text-decoration: none;
  border: 1px solid var(--dark-text);
  padding: 0.25rem;
  transition: background-position 0.3s ease;

  &:hover {
    color: var(--light-text);
    background-color: var(--dark-text);
  }
}

.participant {
    display: flex;
}

.nameContainer {
  display: flex;
  flex-direction: column;
}

.rank {
  margin-right: 10px;
}

.name {
  font-size: var(--font-size-medium);
  font-weight: bold;
  text-decoration: underline;
}

.managerName {
  font-size: var(--font-size-small);
  font-style: italic;
}