.leagueTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.standings {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    margin-bottom: 50px;
}


.showMore {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}
