.totalPointDifferenceContainer {
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
}

.summaryContainer {
    display: flex;
    margin-bottom: 2em;
}

.tableContainer {
    margin: 2em 0 3em 0;
}

.linksContainer {
    margin: 2em 0;
}
