.totalPointDifferenceContainer {
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
}

.summaryContainer {
    display: flex;
    margin-bottom: 2em;
}

.tableContainer {
    margin: 2em 0 1em 0;
}

.linksContainer {
    margin: 2em 0;
}

.info {
    font-style: italic;
    font-size: 0.8em;
    margin-bottom: 2em;
    text-align: center;
}