.card {
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  cursor: pointer;

  padding: 1rem;
  margin-bottom: 1rem;

  border: 2px solid #7e7e7e;
  border-radius: 8px;
  background-color: var(--dark-text);
  color: white;

  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-5px) scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(to right, rgb(5, 240, 255), rgb(0, 255, 135));
    color: var(--dark-text);
  }
}

.teamName {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.managerName {
  font-size: 1rem;
}