.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    padding: 20px;
}

.error {
    display: flex;
    font-size: 30px;
    color: #ffffff;
    border-radius: 0.25em;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--negative);
    animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
}

.image {
    width: 50px;
    margin: auto;
    filter: grayscale(50%);
}

.messageContainer {
    text-align: center;
    max-width: 500px;
}

.errorTitle {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--negative);
}

.errorMessage {
    font-size: 18px;
    color: var(--text);
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
